
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <section class="loginContainer">
        <div class="loginDiv">
            <div class="loginText">
                <h2>login</h2>
            </div>

            <div class="inputContainer">
                <span class="label" for="">Username</span>
                <input class="inputBox" type="text" placeholder="enter username">
            </div>
            <div class="inputContainer">
                <span class="label" for="">Password</span>
                <input class="inputBox" type="password" placeholder="enter password">
            </div>
            <div class="buttonContainer">
                <button class="login">Login</button>
                <button class="reset">Reset</button>
            </div>

        </div>

    </section>
